.THIS .slno
{
    width:72px!important;
}

.THIS .stuno
{
    width:210px !important;
}

.THIS.clname {
    width:210px !important;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}



.THIS .crradious 
{
 background-color: #FAFAF9 !important;
 border-radius:35px !important;
    
}
.THIS .slds-theme_backgroundColor-lightblue {
    background-color: lightblue;
}
.THIS BODY .slds-template_default {
    padding: var(--lwc-templateGutters,0.75rem);
}

.THIS.slds-brand-band {
    background-color: rgba(176, 196, 223, 1.0) !important; /* This is the standard blue */
    z-index: 1; /* This is to counteract the -1 that the :before element has */
}

/* These are the gradients and image used in the Salesforce theme */
.THIS.slds-brand-band:before {
    background-image: url(/_slds/images/themes/lightning_blue/lightning_blue_background.png),linear-gradient(to top, rgba(255, 255, 255, 0.0) 0, rgba(160, 180, 206, 1.0)) !important;
}
.THIS.slds-brand-band:after {
    background-image: linear-gradient(to bottom, rgba(176, 196, 223, 0.0) 60%, rgba(176, 196, 223, 1.0));
}
.THIS .slds-theme_backgroundColor-lightblue {
    background-color: lightblue;
}
.THIS BODY {
    Background-color: RED;
    background-image: url(/_slds/images/themes/lightning_blue/lightning_blue_background.png),linear-gradient(to top, rgba(255, 255, 255, 0.0) 0, rgba(160, 180, 206, 1.0)) !important; 
    
}        
.THIS html body.sfdcBody {
    
    Background-color: RED;
    background-image: url(/_slds/images/themes/lightning_blue/lightning_blue_background.png),linear-gradient(to top, rgba(255, 255, 255, 0.0) 0, rgba(160, 180, 206, 1.0)) !important; 
            
    font-family: 'Helvetica';
    color: #3c3d3e;
    margin: 0;
    padding: 10px 20px 0 20px;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
}
.THIS iframe[force-alohaPage_alohaPage]
{
    background: lightgrey !important;            
}
    .THIS   .slds-modal__container{
	width: 80% !important;
	max-width: 80% !important;
}